In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [86]:
path1 = os.path.join("dailyActivity_merged.csv")

In [87]:
path2 =os.path.join("data raw.csv")

In [88]:
dfactivity  = pd.read_csv(path1)

In [89]:
dfraw  = pd.read_csv(path2,sep= "\t")

In [90]:
dfactivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [91]:
dfraw.head()

,ID,Date,Steps,TEE,AEE,Sedentary,LPA,MPA,VPA,NonWear,Provider
0,1,03.09.2019,1208,2375,72,0,0,10,0,0,Garmin
1,1,04.09.2019,6784,2713,410,0,0,0,0,0,Garmin
2,1,05.09.2019,6470,2685,382,0,0,0,0,0,Garmin
3,1,06.09.2019,10042,2817,514,0,0,0,0,0,Garmin
4,1,07.09.2019,6301,4289,1986,0,0,21,137,0,Garmin

In [92]:
#dfActivity = dfactivity.rename(columns={'LightlyActiveMinutes':'LPA','FairlyActiveMinutes':'MPA','VeryActiveMinutes':'VPA','SedentaryMinutes':'Sedentary'})

In [93]:
dfActivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VPA,MPA,LPA,Sedentary,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [94]:
data_df =pd.merge(dfraw,dfActivity)

In [95]:
data_df.head()

,ID,Date,Steps,TEE,AEE,Sedentary,LPA,MPA,VPA,NonWear,...,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,Calories
0,5,12.02.2019,7,1349,11,1437,3,0,0,0,...,4/14/2016,108,0.08,0.08,0.0,0.0,0.0,0.03,0.0,2011
1,5,12.02.2019,7,1349,11,1437,3,0,0,0,...,4/16/2016,31,0.01,0.01,0.0,0.0,0.0,0.01,0.0,1635
2,8,08.02.2019,43,1255,8,1437,3,0,0,0,...,4/14/2016,108,0.08,0.08,0.0,0.0,0.0,0.03,0.0,2011
3,8,08.02.2019,43,1255,8,1437,3,0,0,0,...,4/16/2016,31,0.01,0.01,0.0,0.0,0.0,0.01,0.0,1635
4,8,24.02.2019,33,1253,7,1437,3,0,0,0,...,4/14/2016,108,0.08,0.08,0.0,0.0,0.0,0.03,0.0,2011

In [96]:
data_df.tail(10)

,ID,Date,Steps,TEE,AEE,Sedentary,LPA,MPA,VPA,NonWear,...,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,Calories
45000,76,31.10.2020,1029,2320,259,1388,52,0,0,0,...,5/4/2016,2309,1.68,1.68,0.0,0.0,0.0,1.66,0.02,2222
45001,76,31.10.2020,1029,2320,259,1388,52,0,0,0,...,5/4/2016,1201,0.81,0.81,0.0,0.0,0.0,0.81,0.00,1426
45002,109,18.05.2019,1943,1635,204,1388,52,0,0,0,...,5/4/2016,2309,1.68,1.68,0.0,0.0,0.0,1.66,0.02,2222
45003,109,18.05.2019,1943,1635,204,1388,52,0,0,0,...,5/4/2016,1201,0.81,0.81,0.0,0.0,0.0,0.81,0.00,1426
45004,82,07.06.2020,2386,1648,350,1320,120,0,0,0,...,5/5/2016,2237,1.48,1.48,0.0,0.0,0.0,1.48,0.00,1589
45005,82,07.06.2020,2386,1648,350,1320,120,0,0,0,...,4/22/2016,2824,1.87,1.87,0.0,0.0,0.0,1.87,0.00,1651
45006,83,20.12.2020,8910,2124,1128,1064,376,0,0,0,...,4/19/2016,7711,5.26,5.26,0.0,0.0,0.0,5.24,0.02,1985
45007,109,08.04.2019,7553,2270,1005,1160,280,0,0,0,...,4/12/2016,4747,3.24,3.24,0.0,0.0,0.0,3.23,0.01,1788
45008,111,23.07.2020,5090,2203,736,1245,195,0,0,0,...,4/16/2016,5057,3.41,3.41,0.0,0.0,0.0,3.40,0.00,1724
45009,112,04.10.2020,4473,1578,568,759,241,0,0,47,...,4/18/2016,5153,3.91,3.91,0.0,0.0,0.0,3.89,0.00,2018

In [97]:
data_df1 = data_df.dropna()

In [98]:
data_df1.head()

,ID,Date,Steps,TEE,AEE,Sedentary,LPA,MPA,VPA,NonWear,...,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,Calories
0,5,12.02.2019,7,1349,11,1437,3,0,0,0,...,4/14/2016,108,0.08,0.08,0.0,0.0,0.0,0.03,0.0,2011
1,5,12.02.2019,7,1349,11,1437,3,0,0,0,...,4/16/2016,31,0.01,0.01,0.0,0.0,0.0,0.01,0.0,1635
2,8,08.02.2019,43,1255,8,1437,3,0,0,0,...,4/14/2016,108,0.08,0.08,0.0,0.0,0.0,0.03,0.0,2011
3,8,08.02.2019,43,1255,8,1437,3,0,0,0,...,4/16/2016,31,0.01,0.01,0.0,0.0,0.0,0.01,0.0,1635
4,8,24.02.2019,33,1253,7,1437,3,0,0,0,...,4/14/2016,108,0.08,0.08,0.0,0.0,0.0,0.03,0.0,2011

In [99]:
lightly <- usage_min %>% 
  group_by(group, id) %>% 
  summarise(lightly_hr = round(mean(lightly_active)/60,2),.groups = "drop")
low_ints <- usage_hr %>% 
  group_by(group, id) %>% 
  summarise(lightly_hr = round(mean(lightly_active)/60,2),
            sedentary_hr = round(mean(sedentary_hr),0), .groups = "drop")
# Reshape data 
low_ints_long <- gather(data = low_ints, key = "variables", value = "value", -c(group, id))
# Plot lightly active minutes per day
ggplot(low_ints_long, aes(group, value, fill=group))+
  geom_boxplot(show.legend = TRUE)+
  xlab("Groups of Users") + ylab("Hours") +
  ggtitle("Comparison by Lightly Active / Sedentary Hours")+
   theme(axis.text.x=element_blank(),axis.ticks.x=element_blank())+
  facet_wrap(~variables)
options(repr.plot.width = 14, repr.plot.height = 8)

SyntaxError: invalid syntax (966966652.py, line 1)