In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [42]:
path1 = os.path.join("dailyActivity_merged.csv")

In [43]:
path2 =os.path.join("data raw.csv")

In [44]:
dfactivity  = pd.read_csv(path1)

In [45]:
dfraw  = pd.read_csv(path2,sep= "\t")

In [46]:
dfactivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [47]:
dfraw.head()

,ID,Date,Steps,TEE,AEE,Sedentary,LPA,MPA,VPA,NonWear,Provider
0,1,03.09.2019,1208,2375,72,0,0,10,0,0,Garmin
1,1,04.09.2019,6784,2713,410,0,0,0,0,0,Garmin
2,1,05.09.2019,6470,2685,382,0,0,0,0,0,Garmin
3,1,06.09.2019,10042,2817,514,0,0,0,0,0,Garmin
4,1,07.09.2019,6301,4289,1986,0,0,21,137,0,Garmin

In [48]:
dfActivity = dfactivity.rename(columns={'LightlyActiveMinutes':'LPA','FairlyActiveMinutes':'MPA','VeryActiveMinutes':'VPA','SedentaryMinutes':'Sedentary'})

In [49]:
dfActivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VPA,MPA,LPA,Sedentary,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [50]:
data_df =pd.merge(dfActivity,dfraw,how='outer',on ='Sedentary')

In [51]:
data_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,ID,Date,Steps,TEE,AEE,LPA_y,MPA_y,VPA_y,NonWear,Provider
0,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,5.0,19.01.2019,5317.0,1800.0,588.0,164.0,9.0,6.0,74.0,Fitbit
1,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,5.0,08.01.2020,6099.0,1997.0,736.0,211.0,0.0,0.0,62.0,Fitbit
2,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,5.0,02.09.2020,9726.0,2331.0,1193.0,346.0,8.0,0.0,29.0,Fitbit
3,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,7.0,13.05.2020,5909.0,1680.0,684.0,272.0,0.0,0.0,72.0,Fitbit
4,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,7.0,19.07.2020,8919.0,1937.0,888.0,281.0,0.0,0.0,58.0,Fitbit

In [52]:
data_df.tail(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,ID,Date,Steps,TEE,AEE,LPA_y,MPA_y,VPA_y,NonWear,Provider
125225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,07.09.2019,229.0,1530.0,60.0,18.0,0.0,0.0,0.0,Fitbit
125226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.0,02.02.2019,194.0,1522.0,49.0,15.0,0.0,0.0,0.0,Fitbit
125227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.0,04.01.2020,8648.0,1689.0,345.0,106.0,0.0,0.0,0.0,Fitbit
125228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.0,05.01.2020,4283.0,1745.0,342.0,11.0,0.0,30.0,0.0,Fitbit
125229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,13.07.2019,1877.0,1818.0,399.0,23.0,18.0,26.0,0.0,Fitbit
125230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,18.07.2019,172.0,1675.0,239.0,61.0,0.0,0.0,0.0,Fitbit
125231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.0,28.03.2020,5737.0,2278.0,920.0,121.0,0.0,46.0,0.0,Fitbit
125232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,04.01.2019,17465.0,3526.0,2664.0,667.0,14.0,1.0,54.0,Fitbit
125233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,12.12.2019,16899.0,3357.0,2445.0,551.0,32.0,31.0,56.0,Fitbit
125234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,18.12.2020,18158.0,3476.0,2720.0,700.0,30.0,3.0,76.0,Fitbit

In [53]:
data_df1 = data_df.dropna()

In [54]:
data_df1.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,ID,Date,Steps,TEE,AEE,LPA_y,MPA_y,VPA_y,NonWear,Provider
0,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,5.0,19.01.2019,5317.0,1800.0,588.0,164.0,9.0,6.0,74.0,Fitbit
1,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,5.0,08.01.2020,6099.0,1997.0,736.0,211.0,0.0,0.0,62.0,Fitbit
2,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,5.0,02.09.2020,9726.0,2331.0,1193.0,346.0,8.0,0.0,29.0,Fitbit
3,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,7.0,13.05.2020,5909.0,1680.0,684.0,272.0,0.0,0.0,72.0,Fitbit
4,1.503960e+09,4/12/2016,13162.0,8.5,8.5,0.0,1.88,0.55,6.06,0.0,...,7.0,19.07.2020,8919.0,1937.0,888.0,281.0,0.0,0.0,58.0,Fitbit